@import "./bootstrap_override";

@import "tools/mixins";

@import "base/base";

@import "module/buttons";
@import "module/tiles";
@import "module/footer";
@import "module/navigation";
@import "module/map";
@import "module/registration";
@import "module/slideout";
@import "module/slider";
@import "layout/home";
@import "components/feature_flags";


body.no-css3 * {
  transition-property: none !important;
  transform: none !important;
  animation: none !important;
}
