
.home-main-container {
  background-color: #0094c8;
  background-image: url("/assets/images/home/nodes-gold-blue-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70% auto;
  .home-scroll-slide {
    > div {
      display: table;
      min-height: 450px;
      padding: 30px 15px;
      width: 100%;
    }
  }
  .body-text {
    color: #666666;
    margin: 0 auto;
    text-align: center;
    width: 85%;
    @media (max-width: 768px) {
      text-align: left;
    }
  }
  #intro {
    background-color: $nav-background;
    h3 {
      margin-top: 50px;
    }
    .home-image {
      margin: 40px auto;
      width: 70%;
      img {
        width: 100%;
      }
    }
  }
  #features {
    .headline {
      color: white;
      font-size: 1.6em;
      font-weight: bold;
      margin: 160px 0;
    }
  }
  #use-cases {
    background-color: white;
    h3 {
      margin: 50px 0;
    }
  }
  #pricing {
    color: white;
    .body-text {
      color: white;
    }
    h3 {
      margin: 50px 0;
    }
  }
  h3 {
    text-align: center;
  }
}

.subpage {
  h1, h2, h3, h4 {
    font-weight: bold;
  }
  h2 {
    color: #007fa3;
    margin-bottom: 2.5rem;
  }
}

#_404 {
  text-align: center;
  h1 {
    color: #777;
    margin-bottom: 0;
  }
  img {
    margin: 40px 0;
    max-width: 300px;
    width: 60%;
  }
}

.modal-dialog {
  a {
    cursor: pointer;
  }
}

.main-container {
  &.home {
    .navbar-default {
      background-color: $nav-background;
    }
  }
}

body {
  &.clear-nav-color {
    .main-container {
      &.home {
        .navbar-default {
          background-color: white;
        }
      }
    }
  }
}
