
.page-content {
  #intro {
    background-color: $nav-background;
    height: 450px;
  }
  #features {
    height: 450px;
  }
  #use-cases {
    background-color: blue;
    height: 450px;
  }
  #pricing {
    height: 450px;
  }
}

#home-background {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -1;
  .image {
    background-color: #0094c8;
    background-image: url("/assets/images/home/nodes-gold-blue-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 125%;
    left: 0;
    position: relative;
    width: 100%;
    top: 0%;
  }
}

.subpage {
  h1, h2, h3, h4 {
    font-weight: bold;
  }
  h2 {
    color: #007fa3;
    margin-bottom: 2.5rem;
  }
}

#_404 {
  text-align: center;
  h1 {
    color: #777;
    margin-bottom: 0;
  }
  img {
    margin: 40px 0;
    max-width: 300px;
    width: 60%;
  }
}

.modal-dialog {
  a {
    cursor: pointer;
  }
}
