// *****************
// **** Desktop ****
// *****************
.footer-section {
  width:100%;
  background: #f6f6f6;
  border-top: 1px solid #dedbd8;
  font-size: 18px;
  overflow:auto;
  &.isLimited {
    background-color: white;
  }
  .viewport {
    max-width: 1200px;
    margin: 0 auto;
    width:100%;
    padding: 45px 0;
    .link {
      &:after {
        content: "";
      }
    }
    .box.social {
      margin-bottom: 20px;
    }
    .box.app {
      margin-bottom: 40px;
    }
    .box.email {
      margin-bottom: 25px;
      a.text0 {
        font-weight: bold;
        color: #30abce;
        text-decoration: none;
      }
    }
    .box.phone {
      margin-bottom: 25px;
      div.text0 {
        font-weight: bold;
        color: #30abce;
        margin-bottom: 10px;
      }
      div:not(.text0):not(.phone-label) {
        font-size: 12px;
      }
    }
    // Unordered lists
    ul {
      &.menu,
      &.social-items,
      &.app-items {
        list-style-type: none;
      }
      &.menu {
        margin-bottom: 20px;
        padding: 0;
        li.menu-item {
          padding: 0;
          margin-bottom: 20px;
          a {
              font-weight: bold;
          }
        }
      }
      &.social-items {
        padding: 0;
        li.social-item {
          display: inline-block;
          margin-bottom: 20px;
          margin-right: 10px;
        }
      }
      &.app-items {
        padding: 0;
        li.app-item {
          margin-bottom: 20px;
          a.link {
            font-weight: bold;
          }
        }
      }
    }
    .social-header,
    .app-label,
    .app-header,
    .contact-header,
    .email-label,
    .phone-label {
      font-weight: bold;
    }
    img {
      width: 40px;
      height: auto;
    }
    .social-header,
    .app-header,
    .app-label {
      margin-bottom: 15px;
    }
    .contact-body {
      a {
          color: #30abce;
          font-weight: bold;
      }
      em {
        color: #777777;
        display: block;
        font-size: 0.8rem;
      }
    }
  }
}
