$containerWidth: 500px;
$mdDeviceSize: 1199px;
$smDeviceSize: 560px;
$elementsBorderColor: #999999;
.form-container {
  background-color: #F6F6F6;
	position: relative;
	h3 {
		font-size: 1.3em;
    font-weight: bold;
	}
	.segment {
		@include clearfix;
		&:not(:last-child) {
			border-bottom: 1px solid #ddd;
			padding-bottom: 20px;
		}
		.form-group {
			float: left;
			width: 100%;
      &.break-line {
        float: none;
        @include clearfix;
      }
			&.p20 {
				width: 20%;
			}
			&.p30 {
				width: 30%;
			}
      &.p33 {
				width: 33.333%;
			}
			&.p40 {
				width: 40%;
			}
			&.p50 {
				width: 50%;
			}
			&.p60 {
				width: 60%;
			}
			&.p70 {
				width: 70%;
			}
			&.p80 {
				width: 80%;
			}
      @media (min-width: $smDeviceSize) {
        &.p50-sm {
          width: 50%;
        }
			}
			&.align-left {
				padding-right: 5px;
			}
			&.align-right {
				padding-left: 5px;
			}
			.form-control {
				border-color: $elementsBorderColor;
		    height: auto;
		    line-height: normal;
		    padding: 11px;
				&:-webkit-autofill {
			    -webkit-box-shadow: 0 0 0px 1000px white inset;
				}
			}
			label {
				color: #999;
        display: block;
        font-size: 0.8rem;
        font-weight: normal;
				line-height: 1rem;
				min-height: 1rem;
        text-align: left;
				z-index: 1;
        @include unselectable;
				@include transform-origin();
			}
      .info-icon {
        background-image: url("/assets/images/form/info-icon.svg");
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
        height: 1em;
        margin: 0px 0 -2px 4px;
        width: 1em;
        @include cursor;
      }
			&.floating-placeholder {
				position: relative;
				label {
					cursor: text;
					@include transition(transform 160ms, color 200ms);
				  @include transform(translate(13px, 32px) scale(1.16));
				}
				&.label-pos-top {
					label {
					  @include transform(translate(0, 0));
					}
				}
				&.disabled {
					label {
					  cursor: not-allowed;
					}
				}
			}
			&.input {
				margin-bottom: 0;
			}
      &.checkbox-input {
      	margin-top: 16px;
      	input {
      		display: none;
      		&+label {
      			padding-left: 24px;
      			position: relative;
      			&:before, &:after {
      				background-color: white;
      				border: 1px solid $elementsBorderColor;
      			  content: '';
      				height: 19px;
      			  left: 0;
      				position: absolute;
      			  top: -1px;
      			  width: 19px;
      			}
      		}
      		&:checked, &[value="true"] {
      			&+label {
      				&:after {
      					background-image: url("/assets/images/form/tick.svg");
      					background-position: -19px -20px;
      					background-repeat: no-repeat;
      				}
      			}
      		}
      	}
      }
      &.payment {
        .billpayinfo {
          color: #333;
          font-weight: bold;
        }
        .colored {
          color: #337ab7;
        }
        .link {
          cursor: pointer;
          &:hover {
            color: #000;
          }
          &:after {
            content: '';
            margin: 0;
          }
        }
      }
      $error-message-color: #a63139;
			.content-message {
				font-size: 0.8rem;
				line-height: 1rem;
				min-height: 1rem;
				text-align: center;
				.error {
					color: $error-message-color;
				}
			}
			&.error {
				> input, textarea {
					border-color: $error-message-color;
					color: $error-message-color;
				}
        &.checkbox-input {
  				label {
  					color: $error-message-color;
          	&:before, &:after {
      				border-color: $error-message-color;
      			}
  				}
  			}
        &.radio-button-list {
          > span {
              label {
    					color: $error-message-color;
            	&:before, &:after {
        				border-color: $error-message-color;
        			}
    				}
          }
        }
        &.select {
          > .select-wrapper {
						border-color: $error-message-color;
          }
        }
			}
		}
		.password-input-container {
			position: relative;
			.form-group {
				float: none;
				.error-message {
					position: absolute;
				}
			}
			.show-password {
				cursor: pointer;
		    height: 50px;
		    position: absolute;
		    right: 2px;
		    top: 18px;
		    width: 50px;
				img {
					width: 100%;
				}
			}
			.security-indicator {
				bottom: 0;
				height: 1rem;
				max-height: 1rem;
				position: absolute;
				width: 100%;
				> span {
					border-radius: 15px;
					color: white;
					float: right;
					font-size: 0.8rem;
					margin-top: 3px;
					padding: 0 10px 0 5px;
					img {
						height: 23px;
						width: 23px;
					}
					&.level-1 {
						background-color: #FF6666;
					}
					&.level-2 {
						background-color: #FFD266;
					}
					&.level-3 {
						background-color: #9CBD23;
					}
				}
			}
		}
		.input-validator-container, .se-personal-number-input-container, .rejsekort-input-container {
			.form-group.input {
				margin-bottom: 0;
			}
			&.not-validated {
				.form-group.input {
					width: 60%;
				}
			}
      &.valid {
        .input {
          &:after {
            background-image: url("/assets/images/form/tick.svg");
            background-position: center;
            content: " ";
            display: block;
            height: 20px;
            margin-top: -9px;
            position: absolute;
            right: 10px;
            top: 50%;
            width: 20px;
            z-index: 1;
          }
          input {
            border-color: #9CBD23;
          }
        }
      }
			.button-container {
				float: left;
				margin-top: 1rem;
				padding-left: 12px;
				width: 40%;
				&:before {
					content: " ";
					display: block;
					margin-top: 5px;
				}
				.button {
					width: 100%;
					* {
						min-width: auto;
						padding: 9px;
					}
				}
			}
		}
    .radio-button-list {
      > span {
        &:not(:last-child) {
          margin-right: 40px;
        }
        input {
          display: none;
          &+label {
            display: inline-block;
            font-size: 1rem;
            margin: 0 0 0 5px;
            padding-left: 20px;
            position: relative;
            &:before, &:after {
              background-color: white;
              border: 1px solid $elementsBorderColor;
              border-radius: 19px;
              content: '';
              height: 19px;
              left: -5px;
              position: absolute;
              top: -2px;
              width: 19px;
            }
          }
          &:checked, &[value="true"] {
            &+label {
              &:after {
                background-color: #9CBD23;
                border-radius: 9px;
                height: 9px;
                left: 0;
                top: 3px;
                width: 9px;
              }
            }
          }
        }
      }
    }
    .date {
      .date-elements {
        @include clearfix;
      }
    }
    .phone-number {
      .phone-number-elements {
        @include clearfix;
        > .input {
          label {
            display: none;
          }
          .content-message {
            display: none;
          }
        }
      }
    }
    .date, .payment-method-valid-until {
      .select {
        label {
          display: none;
        }
        .content-message {
          display: none;
        }
        .select-wrapper {
          .select-inline {
            select {
              width: 120%;
            }
          }
        }
      }
    }
    .select {
      .select-wrapper {
        overflow: hidden;
        padding: 11px 0;
        position: relative;
        &:after {
          $arrow-border-style: solid 2px #30abce;
          $arrow-size: 11px;
          border-bottom: $arrow-border-style;
          border-right: $arrow-border-style;
          content: ' ';
          height: $arrow-size;
          position: absolute;
          right: 11px;
          top: 11px;
          width: $arrow-size;
          @include transform(scale(1, 0.9) rotate(45deg));
        }
        .select-inline {
          display: inline-block;
          select {
            background-color: transparent;
            border: none;
            border-radius: 0;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 106%;
            z-index: 1;
            // mac safari background issue
            -webkit-appearance: none;
            &:focus {
              background-color: transparent;
              border: 0;
              outline: none;
            }
            option {
              text-indent: 10px;
            }
          }
        }
      }
    }
  }
	.button-group {
		padding-top: 20px;
		.button {
			width: 100%;
		}
	}
	@media (min-width: $containerWidth) {
    max-width: $containerWidth;
  }
  .loading {
    text-align: center;
    width: 100%;
    padding: 1rem;
  }
  .button {
    border-radius: 5px;
    border-color: transparent;
  }
}
