.section.map {
  margin: 0 auto;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  &.limited {
    .map-activator {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      z-index: 3;
    }
    .map-container {
      height: 300px;
      overflow: hidden;
    }

  }

  h3 {
    padding-bottom: 1rem;
  }
  position: relative;
  .map-area {
    position: relative;
  }
  .loader {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    img {
      left: 50%;
      top: 50%;
      position: absolute;
    }
  }
  .map-container {
    height: 600px;
    width: 100%;
  }

  .upperBar {
    height: 100px;
  }

  font-size: 0.9rem;

  ul {
    padding-top: 20px;
    padding-left: 0;
  }

  li {
    list-style-type: none;
    margin-bottom: 3px;
    line-height: 1.5;
  }

  .header {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
  }

  .licensePlate {
    font-weight: 600;
    color: #30abce;
  }
}

.carDescription, .carLocation, .carPrices {
  padding-left: 0;
  padding-right: .5rem;
}

.carPrices {
  .swheel, .parking {
    &:before {
      content: " ";
      display: inline-block;
      width: 0.9rem;
      height: 0.9rem;
      margin-right: 5px;
    }
  }

  .swheel {
    &:before {
      background-image: url("/assets/images/map/swheel_grey.svg");
     }
  }

  .offerDrivePrice {
    color: #007fa3;
  }

  .parking {
    &:before {
      background-image: url("/assets/images/map/parking_grey.svg");
    }
  }
}

.carImage {
  padding-left: 0;
  max-width: 168px;
  img {
    margin-top: 10px;
  }
}

.carFlyout {
  position: absolute;
  bottom: 30px;
  right: 10px;
  left: 10px;
  height: 160px;
  background-color: white;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.55);
  .container-fluid {
    min-height: 100%;
  }
  .carElements {
    min-height: 160px;
    padding-top: .5rem
  }
  &.reservation {
    background-color: $dark-blue;

    .carPrices {
      .swheel {
        &:before {
          background-image: url("/assets/images/map/swheel_white.svg");
         }
      }

      .parking {
        &:before {
          background-image: url("/assets/images/map/parking_white.svg");
        }
      }
    }

    li, li.licensePlate {
      color: #fff;
    }
    .fuelLevel {
      &:before {
        background-image: url("/assets/images/map/gas_white.svg");
      }
    }

    .transmission {
      &:before {
        background-image: url("/assets/images/map/manual_white.svg");
      }
    }
  }

  .taxCondition {
    font-size: .75rem;
    color: #333;
    font-weight: normal;
  }

  .carAttributes {
    position: absolute;
    bottom: .8rem;
  }

  .button {
    width: 150px;
    margin-top: 3.3rem;
    margin-left: -1.8rem;

    .loadingContainer {
      width: 20px !important;
      height: 20px !important;
      margin: 0 auto;
      position: relative;
    }
  }
}

.lowerItems {
  .fuelLevel, .transmission, .drivensave {
    position: relative;
    padding-left: 1.7rem;
    margin-right: 1rem;
    &:before {
      content: " ";
      display: block;
      width: 1.35rem;
      height: 1.35rem;
      position: absolute;
      left: 0px;
      top: -4px;
      margin-right: 5px;
      background-repeat: no-repeat;
    }
  }

  .fuelContainer {
    position: relative;

    .fuelLevelInPercent {
      position: absolute;
      top: -.6rem;
    }

    .estimatedRange {
      font-size: .6rem;
    }
  }

  .fuelLevel {
    &.D, &.E {
      &:before {
        background-image: url("/assets/images/map/electric_black.svg");
      }
    }
    &.P {
      &:before {
        background-image: url("/assets/images/map/gas_black.svg");
      }
    }
  }

  .drivensave {
    color: #007fa3;
    font-size: 0.875rem;
      &:before {
        background: url("/assets/images/map/drivensave_blue.svg") no-repeat center;
        background-size: 95%;
      }
  }

  .transmission {
    &.A {
      &:before {
        background-image: url("/assets/images/map/automatic_black.svg");
      }
    }
    &.M {
      &:before {
        background-image: url("/assets/images/map/manual_black.svg");
      }
    }
  }
}

.reservation {
  .fuelLevel {
    &.D, &.E {
      &:before {
        background-image: url("/assets/images/map/electric_white.svg");
      }
    }
    &.P {
      &:before {
        background-image: url("/assets/images/map/gas_white.svg");
      }
    }
  }
  .transmission {
    &.A {
      &:before {
        background-image: url("/assets/images/map/automatic_white.svg");
      }
    }
    &.M {
      &:before {
        background-image: url("/assets/images/map/manual_white.svg");
      }
    }
  }
  .drivensave {
    color: #fff;
    &:before {
      background-image: url("/assets/images/map/drivensave_white.svg");
    }
  }
}
