$containerWidth: 500px;
$mdDeviceSize: 1199px;
$smDeviceSize: 560px;
$elementsBorderColor: #999999;
#registration {
  background-color: #F6F6F6;
	.container {
    position: relative;
		h3 {
			font-size: 20px;
	    font-weight: bold;
		}
		.registration-wrapper {
			.segment {
				@include clearfix;
				&:not(:last-child) {
					border-bottom: 1px solid #ddd;
					padding-bottom: 20px;
				}
				.form-group {
					float: left;
					width: 100%;
          &.break-line {
            float: none;
            @include clearfix;
          }
					&.p20 {
						width: 20%;
					}
					&.p30 {
						width: 30%;
					}
          &.p33 {
						width: 33.333%;
					}
					&.p40 {
						width: 40%;
					}
					&.p50 {
						width: 50%;
					}
					&.p60 {
						width: 60%;
					}
					&.p70 {
						width: 70%;
					}
					&.p80 {
						width: 80%;
					}
          @media (min-width: $smDeviceSize) {
            &.p50-sm {
              width: 50%;
            }
    			}
					&.align-left {
						padding-right: 5px;
					}
					&.align-right {
						padding-left: 5px;
					}
					.form-control {
						border-color: $elementsBorderColor;
				    height: auto;
				    line-height: normal;
				    padding: 11px;
						&:-webkit-autofill {
					    -webkit-box-shadow: 0 0 0px 1000px white inset;
						}
					}
					label {
						color: #999;
						line-height: 1rem;
						display: block;
						font-size: 0.8rem;
						min-height: 1rem;
						font-weight: normal;
						z-index: 1;
						@include transform-origin();
					}
					&.floating-placeholder {
						position: relative;
						label {
							cursor: text;
							@include transition(transform 160ms, color 200ms);
						  @include transform(translate(13px, 32px) scale(1.16));
						}
						&.label-pos-top {
							label {
							  @include transform(translate(0, 0));
							}
						}
						&.disabled {
							label {
							  cursor: not-allowed;
							}
						}
					}
					&.input {
						margin-bottom: 0;
					}
          &.checkbox-input {
          	margin-top: 16px;
          	input {
          		display: none;
          		&+label {
          			padding-left: 24px;
          			position: relative;
          			&:before, &:after {
          				background-color: white;
          				border: 1px solid $elementsBorderColor;
          			  content: '';
          				height: 19px;
          			  left: 0;
          				position: absolute;
          			  top: -1px;
          			  width: 19px;
          			}
          		}
          		&:checked {
          			&+label {
          				&:after {
          					background-image: url("/assets/images/registration/tick.svg");
          					background-position: -19px -20px;
          					background-repeat: no-repeat;
          				}
          			}
          		}
          	}
          }
          &.payment {
            .billpayinfo {
              color: #333;
              font-weight: bold;
            }
            .colored {
              color: #337ab7;
            }
            .link {
              cursor: pointer;
              &:hover {
                color: #000;
              }
              &:after {
                content: '';
                margin: 0;
              }
            }
          }
          &.smart-address {
            position: relative;
            .suggestions {
              background-color: white;
              border: 1px solid $elementsBorderColor;
              color: #666666;
              left: 0;
              max-height: 400px;
              margin: 63px 0 0;
              overflow: auto;
              padding: 0;
              position: absolute;
              top: 0;
              width: 100%;
              z-index: 2;
              li {
                cursor: pointer;
                padding: 2px 0 2px 10px;
                &:hover {
                  background-color: #f1f1f1;
                }
              }
            }
          }
          $error-message-color: #a63139;
					.content-message {
						font-size: 0.8rem;
						line-height: 1rem;
						min-height: 1rem;
						text-align: center;
						.error {
							color: $error-message-color;
						}
					}
					&.error {
						> input {
							border-color: $error-message-color;
							color: $error-message-color;
						}
            &.checkbox-input {
      				label {
      					color: $error-message-color;
              	&:before, &:after {
          				border-color: $error-message-color;
          			}
      				}
      			}
            &.radio-button-list {
              > span {
                  label {
        					color: $error-message-color;
                	&:before, &:after {
            				border-color: $error-message-color;
            			}
        				}
              }
            }
            &.select {
              > .select-wrapper {
  							border-color: $error-message-color;
              }
            }
					}
				}
				.password-input-container {
					position: relative;
					.form-group {
						float: none;
						.error-message {
							position: absolute;
						}
					}
					.show-password {
						cursor: pointer;
				    height: 50px;
				    position: absolute;
				    right: 2px;
				    top: 18px;
				    width: 50px;
						img {
							width: 100%;
						}
					}
					.security-indicator {
						bottom: 0;
						height: 1rem;
						max-height: 1rem;
						position: absolute;
						width: 100%;
						> span {
							border-radius: 15px;
							color: white;
							float: right;
							font-size: 0.8rem;
							margin-top: 3px;
							padding: 0 10px 0 5px;
							img {
								height: 23px;
								width: 23px;
							}
							&.level-1 {
								background-color: #FF6666;
							}
							&.level-2 {
								background-color: #FFD266;
							}
							&.level-3 {
								background-color: #9CBD23;
							}
						}
					}
				}
				.promocode-input-container, .se-personal-number-input-container, .rejsekort-input-container {
					.form-group.input {
						margin-bottom: 0;
					}
					&.not-validated {
						.form-group.input {
							width: 60%;
						}
					}
					.button-container {
						float: left;
						margin-top: 1rem;
						padding-left: 12px;
						width: 40%;
						&:before {
							content: " ";
							display: block;
							margin-top: 5px;
						}
						.button {
							width: 100%;
							* {
								min-width: auto;
								padding: 9px;
							}
						}
					}
				}
        .radio-button-list {
          > span {
            &:not(:last-child) {
              margin-right: 40px;
            }
            input {
              display: none;
              &+label {
                display: inline-block;
                font-size: 1rem;
                margin: 0 0 0 5px;
                padding-left: 20px;
                position: relative;
                &:before, &:after {
                  background-color: white;
                  border: 1px solid $elementsBorderColor;
                  border-radius: 19px;
                  content: '';
                  height: 19px;
                  left: -5px;
                  position: absolute;
                  top: -2px;
                  width: 19px;
                }
              }
              &:checked {
                &+label {
                  &:after {
                    background-color: #9CBD23;
                    border-radius: 9px;
                    height: 9px;
                    left: 0;
                    top: 3px;
                    width: 9px;
                  }
                }
              }
            }
          }
        }
        .date {
          .date-elements {
            @include clearfix;
          }
        }
        .phone-number {
          .phone-number-elements {
            @include clearfix;
            > .input {
              label {
                display: none;
              }
              .content-message {
                display: none;
              }
            }
          }
        }
        .date, .payment-method-valid-until {
          .select {
            label {
              display: none;
            }
            .content-message {
              display: none;
            }
            .select-wrapper {
              .select-inline {
                select {
                  width: 120%;
                }
              }
            }
          }
        }
        .select {
          .select-wrapper {
            overflow: hidden;
            padding: 11px 0;
            position: relative;
            &:after {
              $arrow-border-style: solid 2px #30abce;
              $arrow-size: 11px;
              border-bottom: $arrow-border-style;
              border-right: $arrow-border-style;
              content: ' ';
              height: $arrow-size;
              position: absolute;
              right: 11px;
              top: 11px;
              width: $arrow-size;
              @include transform(scale(1, 0.9) rotate(45deg));
            }
            .select-inline {
              display: inline-block;
              select {
                background-color: transparent;
                border: none;
                border-radius: 0;
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 106%;
                z-index: 1;
                // mac safari background issue
                -webkit-appearance: none;
                &:focus {
                  background-color: transparent;
                  border: 0;
                  outline: none;
                }
                option {
                  text-indent: 10px;
                }
              }
            }
          }
        }
      }
		}
		.button-group {
			padding-top: 20px;
			.button {
				width: 100%;
			}
		}
		@media (min-width: $containerWidth) {
      max-width: $containerWidth;
    }
  }
  .loading {
    text-align: center;
    width: 100%;
    padding: 1rem;
  }
  .button {
    border-radius: 5px;
    border-color: transparent;
  }
	.stage {
		background-color: white;
		border-bottom: 1px solid #ddd;
		position: relative;
		.registration-head {
			.registration-header {
				padding: 2rem 0;
				font-weight: bold;
				font-size: 3rem;
				> span {
					margin-right: 0.5rem;
				}
			}
			.steps {
				& > div {
					float: left;
					font-size: 0.8rem;
					text-align: center;
					position: relative;
					overflow: visible;
			  	line-height: 1rem;
			  	padding: 13px 16px;
					border-top: 1px solid #fff;
					border-bottom: 1px solid #fff;
					&:after {
						background-color: transparent;
						border-top: 2px solid #DFDFDF;
						border-right: 2px solid #DFDFDF;
						content: " ";
						height: 28px;
						position: absolute;
						right: -16px;
						width: 32px;
						@include transform(scale(0.4,1) rotate(45deg));
						z-index: 1;
					}
					&:first-child {
						border-left: 1px solid #fff;
					}
					&:last-child {
						&:after {
							display: none;
						}
					}
					&.link {
						background-image: url("/assets/images/registration/tick.svg");
						background-position: 0 -7px;
						background-repeat: no-repeat;
						.number {
							display: none;
						}
						span {
							color: #A2B259;
						}
					}
					&.active {
						border-bottom: 3px solid #9DB247;
						color: #3F3F3F;
						&:first-child {
							&:before {
								display: none;
							}
						}
						& + div {
							border-left: 1px solid #fff;
						}
					}
					&.disabled {
						color: #C5C4C2;
					}
					img {
				  	padding-bottom: 0.5rem;
						max-width: 40%;
						height: auto;
					}
				}
				&.steps-count-3 > div {
					width: 33.333%;
				}
				&.steps-count-4 > div {
					width: 25%;
				}
				&.steps-count-5 > div {
					width: 20%;
				}
				span {
					font-size: .9rem;
					&.number {
						font-weight: bold;
						margin-right: 5px;
					}
				}
			}
			@media (max-width: $mdDeviceSize) {
				padding-left: 0;
				padding-right: 0;
				.steps {
					& > div {
						padding: 8px 0;
						&.link {
							background: none;
						}
						&:after {
							height: 27px;
							right: -13px;
							top: 3px;
							width: 27px;
							@include transform(scale(0.35, 1) rotate(45deg));
						}
					}
					span {
						font-size: .7rem;
					}
				}
			}
		}
		.sidebar {
	    position: absolute;
	    top: 100%;
	    left: 50%;
	    width: 300px;
	    margin-left: $containerWidth /2;
			.benefitsTeaser {
			  border-left: 1px solid #DFDFDF;
				padding-left: 20px;
				margin-left: 40px;
				margin-top: 20px;
				ul {
					padding-top: 10px;
				}
				li {
					padding: 10px 0 3px 27px;
					font-size: .8rem;
					width: 180px;
					line-height: 20px;
					background-image: url("/assets/images/registration/tick.svg");
					background-position: -20px -8px;
					background-repeat: no-repeat;
					margin: 0;
				}
				@media (max-width: $mdDeviceSize) {
					border-left: 0;
					margin: 0 auto;
					padding-left: 20px;
					max-width: 500px;
					h3 {
						margin-top: 0;
						padding-top: 10px;
					}
					.imageBox{
						float: right;
						position: relative;
						width: 155px;
						height: 93px;
						margin-top: -15px;
						@include transform(scale(0.5, 0.5));
					}
					ul{
						padding-top: 0;
						padding-bottom: 10px;
						margin-bottom: 0;
					}
					li {
						width: auto;
						padding: 0 0 3px 20px;
						background-position: -20px -18px;
					}
				}
			}
	    @media (max-width: $mdDeviceSize) {
	  		background-color: #F6F6F6;
				border-bottom: 1px solid #ddd;
	      top: 0;
	      position: relative;
	      left: 0;
	      margin: 0;
	      width: 100%;
	      height: auto;
	    }
	  }
	}
}
