// *****************
// **** Desktop ****
// *****************

.stage-slider {
  width: 100%;
  height: 450px;
  margin-bottom: 2rem;
  .slick-slider {
    margin-bottom: 8px;
    height: 100%;
    .slick-list {
      height: 100%;
      .slick-track {
        height: 100%;
      }
    }
  }
  .slider-item {
    height: 100%;
    .slider-item-image {
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
    }
    .headline-text-container {
      position: absolute;
      margin-left: 35px;
      top: 0;
    }
    .viewport {
      margin: 0 auto;
      max-width: 1200px;
    }
    .lines {
      position: relative;
      display: inline-block;
      padding: 15px;
      margin: 0 0 75px;
      background: #fff;
      opacity: 0.85;
      top: 50px;
      h1.headline {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: bold;
        font-size: 36px;
        text-align: left;
        line-height: 1;
        color: $grey;
        text-transform: none;
      }
      .subline {
        margin-top: 10px;
      }
      .link {
        margin-left: 5px;
        font-size: 18px;
        line-height: 21px;
      }
    }
    /* ****** Button ****** */
    /* ******************** */
    .buttons {
      margin-left: 0;
    }

  }
  .slick-dots {
    bottom: 10px;
    li {
      width: 10px;
      button {
        box-shadow: 1px 1px 2px rgba(0, 0, 0, .9);
        background: #fff;
        opacity: .3;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        cursor: pointer;
        display: inline-block;
        margin: 0 8px;
        &:before {
          display: none;

        }
      }
    }
    li.slick-active button {
      opacity: .8;
    }
  }
  .slick-prev, .slick-next {
    color: transparent;
    position: absolute;
    height: 40px;
    top: 50%;
    margin-top: -20px;
    cursor: pointer;

    &:before {
      content: "\e600";
      font-family: icomoon;
      font-size: 4rem;
      line-height: 4rem;

    }
  }
  .slick-prev {
    left: 2%;
    &:before {
      content: "\e600";
    }
  }
  .slick-next {
    right: 2%;
    &:before {
      content: "\e601";
    }
  }
}


// *****************
// ***** Mobile ****
// *****************
@media (max-width: 768px) {
  .stage-slider {
    margin-bottom: 0;
    .slider-item {
      padding-bottom: 100px;
      .slider-item-image {
        position: static;
      }
      .headline-text-container {
        text-align: center;
        margin-left: 0;
        position: static;
        .lines {
          top: 5px;
          margin-bottom: 0;
          h1.headline {
            font-size: 2rem;
            text-align: center;
          }
        }
      }
    }
    .slick-dots {
      bottom: 118px;
    }
  }
}
@media (min-height: 300px) {
  .stage-slider {
    height: 350px;
  }
}
@media (max-width: 374px) {
  .stage-slider {
    .slider-item {
      padding-bottom: 89px;
      .headline-text-container {
        .lines {
          h1.headline {
            font-size: 1.6rem;
            text-align: center;
          }
        }
      }
    }
  }
}
